  <div class="card-playground">
    <%= link_to playground_path(playground) do %>
      <h2><%= playground.name %></h2>
      <h2><%= playground.image %></h2>
      <h2><%= playground.location %></h2>
      <h2><%= playground.events %></h2>
    <% end %>
  </div>


