<a class="link"><%=link_to "Home", root_path%></a>
<a class="link"><%=link_to "Playgrounds", playgrounds_path%></a>
<a class="link"><%=link_to "Events", events_path%></a>

<h1><%= @playground.name %></h1>
<h1><%= @playground.status %></h1>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><h1><%= @playground.name %></h1></h5>
    <p class="card-text"><h1><%= @playground.reputation %><%= @playground.location %></h1></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<%= @events %>
<%= @event %>
