<h1>Découvre ce playground</h1>
<a class="link"><%=link_to "Home", root_path%></a>
<a class="link"><%=link_to "Playgrounds", playgrounds_path%></a>
<a class="link"><%=link_to "Events", events_path%></a>

<%= @playground.name %>

<%= @events %>

<%= @event %>
