<!DOCTYPE html>
<html>
  <head>
    <title>Ground Trotters</title>
  <!--   <%= csrf_meta_tags %>
    <%= csp_meta_tag %> -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/svg" href="/public/basketball-game.svg" />
  </head>

  <body>

      <div class = "banner" style="background-image:url(<%= image_path 'la-sunset.jpg'%>);">
        <div class= "banner-text">
          <h1>GROUND TROTTERS</h1>
          <h2>The First Nomad BasketBall Players Community</h2>
          <h3>Make your life a basketball legend!</h3>
        </div>
        <div class= "connect-text">
          <h2>Login</h2>
          <h3>Sign in</h3>
        </div>
      </div>

      <div class="navbar">
        <a><%= link_to "Concept", root_path %></a>
        <a><%= link_to "Members", root_path %></a>
        <a><%= link_to "Playgrounds", playgrounds_path %></a>
        <a><%= link_to "Events", events_path %></a>
      </div>

    <%= yield %>
        <p>A very simple footer</p>  <!-- Add this -->
  </body>
</html>
