<!DOCTYPE html>
<html>
  <head>
    <title>Ground Trotters</title>
  <!--   <%= csrf_meta_tags %>
    <%= csp_meta_tag %> -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Ground Trotters</h1>
    <h3>Make your life a basketball legend!</h3>









    <%= yield %>
        <p>A very simple footer</p>  <!-- Add this -->
        <a class="link"><%=link_to "Home", root_path%></a>
  </body>
</html>
